@model IEnumerable<inmobiliaria_angel.Models.UsuarioTest>

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Bienvenido</h1>
            <p class="py-6">
                Proyecto inmobiliario para la asignatura "Programación en entorno .NET" de la carrera universitaria
                "Desarrollo de Software" de la Universidad de La Punta.
            </p>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>

<div class="inline-flex gap-4 mx-auto my-16">
    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-error">Error</button>
</div>


<section class="overflow-auto">
    <table id="user-table" class="striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(userItem => user.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(userItem => user.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(userItem => user.FechaRegistro)
                    </td>
                    <td>
                        <nav>
                            <ul>
                                <li>
                                    <a class="secondary" href="@Url.Action("Edit", "User", new { id = user.Id })"
                                        data-tooltip="Edit" data-placement="left">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="contrast" href="@Url.Action("Details", "User", new { id = user.Id })"
                                        data-tooltip="Details" data-placement="left">
                                        <i class="fa-solid fa-address-card"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="confirm-delete" data-tooltip="Delete" data-placement="left"
                                        data-target="confirm-delete" data-id="@user.Id" onclick="toggleModal(event)">
                                        <i class="fa-solid fa-trash u-text--danger"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>